body {
    margin: 0;
    background-color: #eaf8b5;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding-top: 20px;
}

header h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 48px;
    color: blue;
    margin-bottom: 10px;
}

/* ------------------------------------ */
nav {
    background-color: lightpink;
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    color: blue;
    text-align: left;
}

nav ul li a:hover {
    color: red;
    background-color: rgb(224, 224, 224);
}
/* ------------------------------------ */

#destacado {
    border: 2px dashed orange;
    padding: 12px;
    width: 90%;
    margin: 30px auto;
    text-align: left;
    background-color: #fcf0cc;
}

.centrado {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.caja {
    width: 90%;
    border: 3px solid blue;
    padding: 20px;
    box-sizing: border-box;
    color: green;
}

.caja p:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.caja p::after {
    content: "";
    display: block;
    clear: both;
}
/* ------------Imagenes-------------- */
.izquierda {
    float: left;
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.derecha {
    float: right;
    width: 140px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.tortita {
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
    border-radius: 20px;
    width: 240px;
    margin: 10px;
}
/* ------------------------------------ */

.extra {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}
.extra h2{
    color: black;
    font-weight: bold;

}

footer {
    text-align: left;
    margin: 40px 0 20px 20px;
    font-size: 14px;
}