h1{
    color: blue;
    font-family: "Audiowide", sans-serif;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    display: flex;
    background-color: darksalmon;
}
ul{
  list-style-type: none;
}
nav ul li{
    flex-direction: row;
    color: blue;
    margin: 10px;
    list-style-type: none;
}