body {
    margin: 0;
    padding: 0;
    background-color: rgb(76, 61, 143);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

header {
    font-size: 20px;
    background-color: rgb(55, 38, 129);
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px solid;
    border-color: rgb(210, 30, 75);
    text-align: center;
}
a {
    color: rgb(253, 203, 127);

    
}
a:hover {
    color: aqua;
}